@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.cdnfonts.com/css/renogare');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Renogare, Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.unblur {
  animation: unblur 1s linear;
}

@keyframes unblur {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(0);
  }
}
